.form{
    margin-left:30% ;
    margin-top: 10%;
    border-color: rgb(15, 163, 227);
    border-style:solid;
    margin-right: 30% ;

}
.titulo{
    color: rgb(15, 163, 227);
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}
.taskName{
    margin-left: 11%;
    margin-top: 25px;
    height: 35px;
    width: 42%;
    text-align: left; /* Alineación del texto a la izquierda */
    padding-left: 20px; /* Agregar 20px de espacio a la izquierda del contenido */
    border-radius: 5px; 
    font-size: 20px; 
    border-color: grey;
}
.addTask{
    color:white;
    background-color:rgb(15, 163, 227);
    height: 40px;
    width: 23%;
    border-radius: 5px; 
    font-size: 20px;
    margin-left: 20px;
    border: none;
   
}
.deleteTask{
    color:white;
    background-color:rgb(15, 163, 227);
    height: 35px;
    width: 20%;
    border-radius: 5px; 
    font-size: 15px;
    margin-left: 20%;
    border: none; 
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
ul{
    margin-left: 3%;
    list-style-type: none;
    padding: 0;
}
span{
 
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(15, 163, 227) ;
    margin-right: 5px;
}

.taskCheck {
    height: 20px;
    width: 20%; 
  }

.taskContainer{
    width: 73%; 
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 8%;
    padding: 8px;
    position: relative;
}
.taskerror{
    color: black;
    font-size: 20px;
    margin-left: 17%;
    padding: 10px;
    background-color: rgba(245, 210, 213, 0.493);
    border-radius: 5px;
    display: block;
    width: 60%;
    text-align: center;
   
}
.completed-task{
    text-decoration: line-through;
}

.pendiingList{
    color: black;
    font-size: 20px;
    margin-left: 30%;
    display: block;
    margin-top: 40px;
  
}
.taskList{
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    color: black;
    height: 20px;
    display: block;
    text-align: center;
    width: 40%;
    margin: 10% 10% 6% 25%;
}
.even-task{
    background-color: green;
}

.odd-task{
    background-color: grey;
}