<div class="form" >
<h1 class="titulo">TODO LIST</h1>
 <div [formGroup]="taskForm">
    <input  class="taskName" type="text" formControlName="newTask" placeholder="Titulo"  required>
    <button class="addTask" (click)="addTask()" type="submit">Agregar</button>
 </div>
 <br>
 <div>
    <span class="taskerror" *ngIf="errorTask">{{errorTask}}</span>
 </div>
 <div>
    <ul>
        <li *ngFor="let task of tasks; let even = even" [ngClass]="{'taskContainer': true, 'even-task': !even, 'odd-task': even}">
            <input type="checkbox" class="taskCheck" [(ngModel)]="task.completed" (change)="onTaskChange(task)">
            <span [class.completed-task]="task.completed">{{task.task}}</span>
            <button class="deleteTask" (click)="deleteTask(task)">Eliminar</button>
          </li>
       </ul>
   
 </div>
 <div>
   <span class="pendiingList" *ngIf="tasks.length ===0">No existen tareas pendientes</span>
 </div>


 <div>
   <span class="taskList" >{{taskCompleted.length}} de {{tasks.length}} Tarea(s) completada(s)</span>
 </div>


 

</div>

