.form{
    margin-left:30% ;
    margin-top: 10%;
    border-color: rgb(15, 163, 227);
    border-style:solid;
    margin-right: 30% ;

}
.titulo{
    color: rgb(15, 163, 227);
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}
.taskName{
    margin-left: 11%;
    margin-top: 25px;
    height: 35px;
    width: 42%;
    text-align: left; /* Alineación del texto a la izquierda */
    padding-left: 20px; /* Agregar 20px de espacio a la izquierda del contenido */
    border-radius: 5px; 
    font-size: 20px; 
    border-color: grey;
}
.addTask{
    color:white;
    background-color:rgb(15, 163, 227);
    height: 40px;
    width: 23%;
    border-radius: 5px; 
    font-size: 20px;
    margin-left: 20px;
    border: none;
   
}
.deleteTask{
    color:white;
    background-color:rgb(15, 163, 227);
    height: 35px;
    width: 20%;
    border-radius: 5px; 
    font-size: 15px;
    margin-left: 20%;
    border: none; 
}
ul{
    margin-left: 3%;
    list-style-type: none;
    padding: 0;
}
span{
 
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(15, 163, 227) ;
    margin-right: 5px;
}

.taskCheck {
    height: 20px;
    width: 20%; 
  }

.taskContainer{
    background-color: rgb(245, 245, 245);
    width: 73%; 
    border-radius: 5px;
    margin-top: 10px;

    align-items: center; 
    margin-left: 8%;
    padding: 8px;
}
.taskerror{
    color: white;
    font-size: 15px;
    margin-left: 25%;
    padding: 10px;
    background-color: rgb(226, 205, 207);
    border-radius: 5px;
   
}
.completed-task{
    text-decoration: line-through;
}